.cont {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 20px;
  width: 100%;
}

.img {
  width: 100%;
}
.content {
  color: white;
  display: flex;
  flex-direction: column;
}
.title {
  background-color: #1a93d2;
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
  font-weight: bold;
  /* margin: 0 0 10px 10px; */
  margin-left: 10px;
  flex-shrink: 0;
}

.rowCont {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* row-gap: auto; */
  width: 100%;
}
.row {
  width: 100%;
  background-color: #1a93d2;
  border-radius: 5px;
  padding: 5px 5px 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.rowText {
  font-weight: bold;
  font-size: 20px;
}
.arrowCont {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.secArrow {
  transform: translateX(-8px);
}
