.header {
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding: 10px;
  box-shadow: -2px 0 5px 5px lightgray;
  background-color: #edf8ff;
}
.pages-bttn-cont {
  flex: 1;
}
.pages-bttn-menu {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
