.footer {
  padding: 10px;
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  margin-top: 20px;
}
.logoCont,
.cp {
  flex-shrink: 0;
}
.logo {
  width: 50px;
}
.cp {
  font-weight: bold;
  color: black;
}
.linksCont {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}
.socialMediaCont {
}
.smIcon {
  width: 50px;
  margin-right: 10px;
}
